<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="bootstrap.css">

<link rel="stylesheet" href="font-awesome.css">


<script src="bootstrap.js"></script>
<script src="poper.js"></script>
<script src="jquery-3.4.1.slim"></script>
<head>
    <title>UMOWA PRZEDWSTĘPNA</title>
<div class="pricingTable10" style="font-size: 40px;">
<span class="price-value"style="font-size: 50;">

UMOWA PRZEDWSTĘPNA

</span>
</div>
</style>
<style>
    body {
        margin: 110;
	 
        padding: 0;
        background-image: url("background.png");
        
        background-position: middle;
        background-size: 100%;
       
    }


    .container {
      /* Set properties to reduce size */

      max-width: 800px;


</style


</style>

</head>
<body>

<p>


<div class="demo10">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">AKT NOTARIALNY</h3>
                                <span class="price-value">
                                     19zł 
                                    <span class="month">/szt</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    
                                    <li>Akt Notarialny</li>
                                    <li>Płatność po odbiorze umowy</li>
                                    <li>Samodzielny Lokal</li>
                                    <li>Nieruchomość gruntowa</li>
                                </ul>
                                <a href="#" class="read">Rozpocznij</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">FORMA PISEMNA</h3>
                                <span class="price-value">
                                    <span class="currency"></span> 25zł
                                    <span class="month">/szt</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>

                                <li>Forma Pisemna </li>    
                                 
					
                                    <li>Płatność po odbiorze umowy</li>
                                    <li>Samodzielny Lokal</li>
                                    <li>Nieruchomość gruntowa</li>
                                </ul>
                                <a href="#" class="read">Rozpocznij</a>
                            </div>
                        </div>
                    </div>
  




 
    
                </div>
            </div>
        </div>



