{% extends "base.html" %} {% block title %}Samopis Bez Logowania{% endblock %} {% block content
%}


<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous" />
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous" />





<link rel="stylesheet" href="./static/font-awesome.css">
























<div class="demo10">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Sprzedaż</h3>
                        <span class="price-value">
                            19zł
                            <span class="month">/szt</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>

                            <li>Akt Notarialny</li>
                            <li>Płatność po odbiorze umowy</li>
                            <li>Samodzielny Lokal</li>
                            <li>Nieruchomość gruntowa</li>
                        </ul>
                        <a href="#" class="read">Rozpocznij</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Przedwstępna</h3>
                        <span class="price-value">
                            <span class="currency"></span> 25zł
                            <span class="month">/szt</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>

                            <li>Forma Pisemna</li>
                            <li>Akt Notarialny</li>

                            <li>Płatność po odbiorze umowy</li>
                            <li>Samodzielny Lokal</li>
                            <li>Nieruchomość gruntowa</li>
                        </ul>
                        <a href="chose.html" class="read">Wybierz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Darowizna</h3>
                        <span class="price-value">
                            <span class="currency"></span> 19zł
                            <span class="month">/szt</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>

                            <li>Akt Notarialny</li>
                            <li>Pierszwa Grupa Podatkowa</li>
                            <li>Trzecia Grupa Podatkowa</li>
                            <li>Płatność po odbiorze umowy</li>
                            <li>Samodzielny Lokal</li>
                            <li>Nieruchomość gruntowa</li>
                        </ul>
                        <a href="chose1.html" class="read">Wybierz</a>
                    </div>
                </div>
            </div>






            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Najem</h3>
                        <span class="price-value">
                            <span class="currency"></span> 40zł
                            <span class="month">/szt</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>

                            <li>Forma Pisemna</li>

                            <li>Płatność po odbiorze umowy</li>
                            <li>Samodzielny Lokal</li>
                            <li>Nieruchomość gruntowa zabudowana</li>
                        </ul>
                        <a href="#" class="read">Rozpocznij</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




    {% endblock %}
